<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${'Ent Blog | ' + title}"></title>

    <link rel="stylesheet" href="/static/css/partials.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/resets.css">
</head>
<body>
<!--START OF NAVBAR PARTIAL-->
<nav th:fragment="nav" class="navbar">
    <div class="container">
        <div class="row" id="navbar">
            <ul class="d-flex justify-space-between">
                <!--                If user is logged in, Profile option will show up in navbar-->
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-link">
                        <!--                        View of user profile pic-->
                        <!--                        <img src="...">-->
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                </div>
                <!--                 Logo for website will redirect to homepage with tournament rooms and leaderboard-->
                <li class="nav-item">
                    <a class="nav-link" href="/">Meme Royale</a>
                </li>

                <!--              User and visitor will be able to view these options  -->
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Feed</a>
                </li>

                <!--                Visitor options -->
                <div sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </div>
                <!--                 End of visitor options -->

                <!--                If user is logged in, logout will show-->
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="">Logout</button>
                        </form>
                    </li>
                </div>
                <!--                End of logout div-->
            </ul>
        </div>
        <!--        END OF NAVBAR/ROW-->
    </div>
    <!--    END OF NAVBAR/CONTAINER-->
</nav>
<!--END OF NAVBAR PARTIAL-->
<br>
<!--START OF FOOTER PARTIAL-->
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center justify-space-evenly">
            <a class="team-name" target="_blank" href="https://github.com/capstone-jabronis/YouJabroni">Capstone Team: Jabroni</a>
            <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/josedelaluziii/">Jose De La Luz</a>
            <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/nic-rowley/">Nicholas Rowley</a>
            <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/avaesmith/">Ava Smith</a>
            <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/audrey-tan1127/">Audrey Tan</a>
        </div>
    </div>
</footer>
</body>
</html>