<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="head(title)" th:remove="tag">
        <meta charset="UTF-8">

        <!--        add a meta tag with sec:authorized  with data-user-id -->
        <meta name="userId" sec:authorize="isAuthenticated()" th:data-user-id="${#authentication.principal.id}">
        <meta name="_csrf" data-th-content="${_csrf.token}" data-th-header="${_csrf.headerName}"/>
        <title th:text="${'Meme Space | ' + title}"></title>
        <link rel="icon" type="image/x-icon" href="/img/rocket.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap"
              rel="stylesheet">
        <title th:text="${'You Jabroni |' + title}"></title>
        <link rel="stylesheet" href="/css/partials.css">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/resets.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/feed.css">
        <link rel="stylesheet" href="/css/landing-page.css">
    </div>

</head>
<body>
<!--START OF NAVBAR PARTIAL-->
<nav th:fragment="nav" class="navbar">
    <div class="container" id="navbar">
        <ul class="d-flex align-center justify-center full-width links-list">
            <!--                If user is logged in, Profile option will show up in navbar-->
            <li class="nav-link" sec:authorize="isAuthenticated()">
                <!--                        View of user profile pic-->
                <!--                <img class="profile-pic-link" th:src="${#authentication.principal.profileURL}">-->
                <a class="nav-link" id="profile" th:href="@{|/${#authentication.principal.id}/profile|}">Profile</a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" id="home" th:href="@{/home}">Tournaments</a>
            </li>

            <li class="nav-item" th:if="${not #authorization.expression('isAuthenticated()')}">
                <a class="nav-link" id="feed" th:href="@{/feed}">Feed</a>
            </li>
            <!--                 Logo for website will redirect to homepage with tournament rooms and leaderboard-->
            <li class="nav-item" th:if="${not #authorization.expression('isAuthenticated()')}">
                <a th:href="@{/}" id="logo">
                    <img th:src="@{/img/memespace.gif}" height="110" width="110"/>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/}" id="logoAuth">
                    <img th:src="@{/img/memespace.gif}" height="110" width="110"/>
                </a>
            </li>

            <!--              User and visitor will be able to view these options  -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" id="feedAuth" th:href="@{/feed}">Feed</a>
            </li>

            <!--                Visitor options -->
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" id="register" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" id="login" th:href="@{/login}">Login</a>
            </li>
            <!--                 End of visitor options -->

            <!--                If user is logged in, logout will show-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="reg-button logout-button" type="submit" id="logout">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor"
                                  d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z">
                            </path>
                        </svg>
                        <span>Logout</span>
                    </button>
                </form>
            </li>
            <!--                End of logout div-->
        </ul>
        <!--        END OF NAVBAR/ROW-->
    </div>
    <!--    END OF NAVBAR/CONTAINER-->
</nav>
<!--END OF NAVBAR PARTIAL-->
<br>
<!--START OF LEADERBOARD PARTIAL-->
<aside th:fragment="leaderboard" class="leaderboard column">
    <div class="leader-cards">
        <div class="leader-title row">
            <h1>Best Meme Makers</h1>
        </div>
    </div>
</aside>
<!--END OF LEADERBOARD PARTIAL-->
<!--START OF FOOTER PARTIAL-->
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center justify-space-evenly align-center">
            <a class="jdAboutTeam  " th:href="@{/about-us}">
                About Team Jabroni
            </a>
                <a class="footer-link d-flex" target="_blank" href="https://www.linkedin.com/in/josedelaluziii/">
                    <img class="jdFooterImage" th:src="@{/img/jose.png}"/>
                    <p>Jose De La Luz</p>
                </a>
                <a class="footer-link d-flex" target="_blank" href="https://www.linkedin.com/in/luis-esquivel-9652a0280/">
                    <img class="jdFooterImage" th:src="@{/img/luis.png}">
                    <p>Luis Esquivel</p>
                </a>
                <a class="footer-link d-flex" target="_blank" href="https://www.linkedin.com/in/nic-rowley/">
                    <img class="jdFooterImage" th:src="@{/img/nic.png}">
                    <p>Nicholas Rowley</p>
                </a>
                <a class="footer-link d-flex" target="_blank" href="https://www.linkedin.com/in/avaesmith/">
                    <img class="jdFooterImage" th:src="@{/img/ava.png}">
                    <p>Ava Smith</p>
                </a>
                <a class="footer-link d-flex" target="_blank" href="https://www.linkedin.com/in/audrey-tan1127/">
                    <img class="jdFooterImage" th:src="@{/img/audrey.png}">
                    <p>Audrey Tan</p>
                </a>
        </div>
    </div>
    <script th:src="@{/js/profile.js}"></script>
    <script th:src="@{/js/Leaderboard.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>