<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Create Meme')">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="page-wrapper" name="_csrf" data-th-content="${_csrf.token}">
    <h1>This is the page where the player will be presented with a meme picture, and they have to enter a caption in the
        input field</h1>
    <form>
    <input type="text" id="memeCaption">
        <button id="submitMemeCaptionBtn"type="submit">Submit Caption</button>
    </form>

</div>
<script th:src="@{/js/tournament.js}"></script>
<script th:src="@{/js/websocket-tournament.js}"></script>

</body>
</html>