<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials/partials :: head(title='Lobby')">

    </div>
    <!--    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
            integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--    <script th:src="@{/js/sockjs.min.js}"></script>-->
    <!--    <script th:src="@{/js/stomp.min.js}"></script>-->
</head>
<!--<nav th:replace="partials/partials :: nav"></nav>-->
<body>
<div class="page-wrapper align-center">
    <div id="status-header" class="tournament-status">
        <div id="player-div"></div>
        <div id="loser-div"></div>
    </div>
    <div class="jdWaitContainer">
        <!--                <h1>TOURNAMENT ID: <span data-th-tournament="${tournament.id}"-->
        <!--                                         th:text="${tournament.getId()}"></span></h1>-->
        <h1 id="waiting-title">Waiting for other players...</h1>

        <button id="start-btn" style="visibility: hidden;">start game!</button>
        <div class="jdWaitRow row justify-space-between">
            <div class="jdWaitColUl column">
                <h2>Players:</h2>
                <div id="users-in-room"></div>
                <button id="leave-lobby-btn" class="leave-tournament-btn">leave</button>
            </div>
            <div class="jdWaitColCanvas column">
                <canvas id="snakeGame" th:width="1000" th:height="1000">
                </canvas>
            </div>
        </div>
    </div>
    <div id="chat-div" class="chat-div">
        <div id="chat-messages" class="chat-messages"></div>
        <div id="chat-input-div" class="chat-input-div">
            <input type="text" id="chat-input" class="chat-input">
            <button id="chat-submit-btn" class="chat-submit-btn">send</button>
        </div>
    </div>
</div>
<!--<footer th:replace="partials/partials :: footer"></footer>-->
<script th:inline="javascript">/*<![CDATA[*/

const currentUser = /*[[${currentUser}]]*/ 'default';
const tournamentId = /*[[${tournament.id}]]*/ 'default';

/*]]>*/
</script>
<script th:src="@{/js/tournament.js}"></script>
<script th:src="@{/js/websocket-tournament.js}"></script>
<script th:src="@{/js/snakeGame.js}"></script>
<!--<script th:src="@{/js/memeAPI.js}" defer></script>-->

</body>
</html>