<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Home Page')">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="_csrf" data-th-content="${_csrf.token}"/>
</head>
<nav th:replace="partials/partials :: nav"></nav>
<body>
<div class="page-wrapper">

<!--    <div>-->
<!--        <div>-->
<!--            <div>-->
<!--                <h1>TOURNAMENT ID: <span th:text="${tournament.getId()}"></span></h1>-->
<!--                <h2>here are players in lobby:</h2>-->
<!--                <ul th:each="user : ${users}">-->
<!--                    <li th:text="${user.getUsername()}"></li>-->
<!--                </ul>-->
<!--                <a href="/tournament/waiting-room/leave">Leave/Cancel</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div>
        <div>
            <canvas id="snakeGame" th:width="800" th:height="800">

            </canvas>
        </div>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:src="@{/js/snakeGame.js}"></script>
</body>
</html>