<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Home Page')"></head>
<nav th:replace="partials/partials :: nav"></nav>
<body>
<div class="page-wrapper">
    <div>
        <div>
            <div>
                <h1>TOURNAMENT ID: <span th:text="${tournament.getId()}"></span></h1>
                <h2>here are players in lobby:</h2>
                <ul th:each="user : ${users}">
                    <li th:text="${user.getUsername()}"></li>
                </ul>
                <a href="/tournament/waiting-room/leave">Leave/Cancel</a>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h1>HERES A SNAKE GAME YOU JABRONI</h1>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>