<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Login')"></head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <div class="container">
        <form th:action="@{/login}" th:method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text"/>
            <label for="password">Password</label>
            <input id="password" name="password" type="password"/>
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
        </form>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>

</body>
</html>