<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div  th:replace="partials/partials :: head(title='About Us')"></div>
    <link rel="stylesheet" href="/css/about-us.css">
</head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="page-wrapper ">
    <div class="container">
        <h1 class="dev-name">Meet the Team!</h1>
        <div class="row first-row">
            <div class="column d-flex justify-center dev-card">
                <img class="dev-pic" th:src="@{img/audrey.jpg}">
                <div class="row justify-center">
                    <h2 class="dev-name">Audrey Tan</h2>
                </div>
                <div class="row justify-center social-icons">
                    <a href="https://www.linkedin.com/in/audrey-tan1127/"><img class="logo" src="img/linkedin-icon-48.png" ></a>
                    <a href="https://github.com/audreytan1127"><img class="logo" src="img/github-icon-48.png" width="48"></a>
                    <a href="https://alumni.codeup.com/"><img class="logo" src="img/Codey.png" width="48"></a>
                </div>
                <a class="align-self-center" href="mailto:audreytan1127@gmail.com" >audreytan1127@gmail.com</a>
            </div>
            <div class="column d-flex justify-center dev-card">
                <img class="dev-pic" th:src="@{img/ava.png}">
                <div class="row justify-center">
                    <h2 class="dev-name">Ava Smith</h2>
                </div>
                <div class="row justify-center social-icons">
                    <a href="https://www.linkedin.com/in/avaesmith/"><img class="logo" src="img/linkedin-icon-48.png" ></a>
                    <a href="https://github.com/ava-smith"><img class="logo" src="img/github-icon-48.png" width="48"></a>
                    <a href="https://alumni.codeup.com/"><img class="logo" src="img/Codey.png" width="48"></a>
                </div>
                <a class="align-self-center" href="mailto:ava013005@gmail.com" >ava013005@gmail.com</a>
            </div>
            <div class="column d-flex justify-center dev-card">
                <img class="dev-pic" th:src="@{img/luis.png}">
                <div class="row justify-center">
                    <h2 class="dev-name">Luis Esquivel</h2>
                </div>
                <div class="row justify-center social-icons">
                    <a href="https://www.linkedin.com/in/luis-esquivel-9652a0280/"><img class="logo" src="img/linkedin-icon-48.png" ></a>
                    <a href="https://github.com/LuisEsquivel11"><img class="logo" src="img/github-icon-48.png" width="48"></a>
                    <a href="https://alumni.codeup.com/"><img class="logo" src="img/Codey.png" width="48"></a>
                </div>
                <a class="align-self-center" href="mailto:luis.d.esquivel21@gmail.com" >luis.d.esquivel21@gmail.com</a>
            </div>
        </div>
        <div class="row sec-row">
            <div class=" bottom-column d-flex justify-center dev-card">
                <img class="dev-pic" th:src="@{img/nic.png}">
                <div class="row justify-center">
                    <h2 class="dev-name">Nicholas Rowley</h2>
                </div>
                <div class="row justify-center social-icons">
                    <a href="https://www.linkedin.com/in/nic-rowley/"><img class="logo" src="img/linkedin-icon-48.png" ></a>
                    <a href="https://github.com/NRowley"><img class="logo" src="img/github-icon-48.png" width="48"></a>
                    <a href="https://alumni.codeup.com/"><img class="logo" src="img/Codey.png" width="48"></a>
                </div>
                <a class="align-self-center" href="mailto:nicholas.ryan.rowley@gmail.com" >nicholas.ryan.rowley@gmail.com</a>
            </div>
            <div class=" bottom-column d-flex justify-center dev-card">
                <img class="dev-pic" th:src="@{img/jose.png}">
                <div class="row justify-center">
                    <h2 class="dev-name">Jose De La Luz</h2>
                </div>
                <div class="row justify-center social-icons">
                    <a href="https://www.linkedin.com/in/josedelaluziii/"><img class="logo" src="img/linkedin-icon-48.png" ></a>
                    <a href="https://github.com/delaluz23"><img class="logo" src="img/github-icon-48.png" width="48"></a>
                    <a href="https://alumni.codeup.com/"><img class="logo" src="img/Codey.png" width="48"></a>
                </div>
                <a class="align-self-center" href="mailto:jdelaluz01@gmail.com" >jdelaluz01@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>

