<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Profile')">
</head>
<body>
<div class=" hidden passwordModal modal">
    <div class="modal-bg">
    </div>
    <div class="modal-container">
        <div>
            <form class="container password-change-card" th:action="@{|/${user.id}/profile/edit/password|}" th:method="POST">
                <div class="column">
                    <label th:for="newPassword">New Password</label>
                    <input class="newPassword" th:name="newPassword" th:type="password" >
                </div>
                <div class="column">
                    <label th:for="confirmNewPassword">Confirm New Password</label>
                    <input class="confirmNewPassword" th:name="confirmNewPassword" th:type="password">
                </div>
                <div class="column">
                    <button class=" hidden submit-password" type="submit">Submit</button>
                </div>
            </form>
            <div class="hidden password-error">Passwords Do Not match</div>
        </div>
    </div>
</div>
<nav th:replace="partials/partials :: nav"></nav>
<div class="page-wrapper container align-center justify-center ">
    <form class="edit-form-container d-flex justify-center" th:action="@{|/${user.id}/profile/edit|}" th:method="POST">
    <h1 class="edit-form-title " >Edit Your Profile</h1>
        <div class="column">
            <p class="edit-label" >edit username</p>
            <input class="input-field edit-field" th:name="username" th:type="text" th:value="${user.username}" th:field="${user.username}">
        </div>
        <div class="column">
            <p class="edit-label">edit email</p>
            <input class="input-field edit-field" th:name="email" th:type="text" th:value="${user.email}" th:field="${user.email}">
        </div>
        <div class="column">
            <span id="changePassword" class="changePassword ">Change Password</span>
        </div>
        <div class="column">
            <input th:name="ProfileURL" type="text" id="fileInput" th:value="${user.profileURL}" hidden>
            <span id="profilePic" class="changeProfileImg" >upload profile pic</span>
            <img id="previewImage"  src="" alt="Uploaded Image">
        </div>
        <button class="submit-mods-btn edit-btn" type="submit" th:type="submit">submit changes</button>
    </form>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{/js/filestack.js}"></script>
<script th:src="@{/js/keys.js}"></script>
<script th:src="@{/js/main.js}" ></script>
</body>
</html>