<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials/partials :: head(title='Feed')">

    </div>
</head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="page-wrapper">
    <div>
        <div>
            <div>
                <div class="jdFeedResultsCSS" id="results">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jdFeedJustifyCenter">
    <div class="jdFeedCenterButtons">
        <button id="back">back</button>
        <button id="forward">forward</button>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:src="@{/js/feed.js}"></script>
</body>
</html>