<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Feed')"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="page-wrapper">
    <div>
        <div>
            <div>
                <h1>This is the feed!</h1>
                <ul>
                    <li id="results">
<!--                   <li  th:each="meme : ${MemeSubmission}">-->
<!--                      <img th:src="${meme.round.meme_pic}" style="width: 100px; height: 100px;">-->
<!--                       <p th:text="${meme.caption}"></p>-->
<!--                       <p th:text="${meme.user.username}"></p>-->
<!--                       <img th:src="${meme.user.profileURL}" style="width: 30px; height: 30px;">-->
                   </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>