<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Feed')"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="page-wrapper">
    <div>
        <div>
            <div>
                <h1 class="jdH1CSS">This is the feed!</h1>
                    <div class="jdFeedResultsCSS" id="results">
                   </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:src="@{/js/feed.js}"></script>
</body>
</html>