<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials/partials :: head(title='Home Page')">

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
            integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
<nav th:replace="partials/partials :: nav"></nav>

<div class="jdHomePageWrapperCSS">
    <aside class="jdleaderboard" th:replace="partials/partials :: leaderboard"></aside>
    <!--    <aside class="jdtournament-list leaderboard column">-->
    <!--        <div id="jdtournamentResults">-->
    <!--        </div>-->
    <!--    </aside>-->
    <aside class="jdtournament-list column">
            <div class="tournament-title d-flex justify-center align-center">
                <h1>Tournaments</h1>
            </div>
            <div>
                <form class="row name justify-center"  id="create-tournament-form" th:action="@{/tournament/create-tournament}">
                    <button class="reg-button tournament-create-btn" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor"
                                  d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z">
                            </path>
                        </svg>
                        <span>Host a tournament</span>
                    </button>
                </form>
            </div>
            <div th:each="tournament : ${tournaments}">
                <form class="name jdTournamentCSS" th:action="@{|/tournament/lobby/${tournament.id}|}">
                    <p>Tournament ID: <span th:text="${tournament.id}"></span></p>

                    <p>Players: <span th:text="${#lists.size(tournament.userSet)}"></span>/8</p>
                    <button class="join-now" data-th-tournament="${tournament.id}" type="submit">Join Now!</button>
                </form>
            </div>
    </aside>
</div>
<!--<div class="tournament-card d-flex" th:each="tournament : ${tournaments}">-->
<!--    <form th:action="@{|/tournament/waiting-room/${tournament.id}|}">-->
<!--        <p>TEST TOURNAMENT</p>-->
<!--        <p>TEST TOURNAMENT ID: <span th:text="${tournament.id}"></span></p>-->
<!--        <button data-th-tournament="${tournament.id}" type="submit">Join Now!</button>-->
<!--    </form>-->
<!--</div>-->
<footer th:replace="partials/partials :: footer"></footer>

<script th:inline="javascript">

</script>
<script th:src="@{/js/tournament.js}"></script>
<!--<script th:src="@{/js/websocket-tournament.js}"></script>-->


</body>
</html>