<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Home Page')">
</head>
<body>
<nav th:replace="partials/partials :: nav"></nav>

<div class="jdHomePageWrapperCSS">
    <aside class="jdleaderboard" th:replace="partials/partials :: leaderboard"></aside>
    <aside class="jdtournament-list leaderboard column">
        <div id="jdtournamentResults">
        </div>
    </aside>
</div>
<div class="tournament-card d-flex" th:each="tournament : ${tournaments}">
    <form class="submitTournamentId"th:action="@{|/tournament/waiting-room/${tournament.id}|}">
        <p>TEST TOURNAMENT</p>
        <p>Tournament ID:<span class="tournamentNum" th:text="${tournament.id}"></span></p>
        <p>TEST TOURNAMENT ID: <span th:text="${tournament.id}"></span></p>
        <button th:data-tournament-id="${tournament.id}" type="submit">Join Now!</button>
    </form>
</div>
<footer th:replace="partials/partials :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    (() => {
        console.log("inside inline js")
    // const tournamentsJsObject = /*[[${tournaments}]]*/ 'default';
    // const tournamentInfo = document.querySelectorAll('.tournamentNum');
    // const enterTournament = document.querySelectorAll('button');
    // for(let button of enterTournament){
    //     button.addEventListener('click', (e)=>{
    //         console.log("inside button event listener");
    //         let tournamentId = e.target.dataset.tournamentId;
    //         console.log(tournamentId);
    //     })
    //     console.log(tournamentSpecificId.innerHTML);
    // }

    })();

    /*]]>*/
</script>
<script th:src="@{/js/tournament.js}"></script>
<script th:src="@{/js/websocket-tournament.js}"></script>


</body>
</html>