<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials/partials :: head(title='Profile')">
    </div>
</head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="page-wrapper">
    <div class="container user-profile-info">
        <div class="row">
            <img class="profile-pic" th:if="${user.profileURL == null}" src="/img/memespace.gif">
            <img class="profile-pic" th:if="${user.profileURL != null}" th:src="${user.profileURL}" alt="profile pic">
            <div class="user-name-email">
                <div class="row d-flex align-center rank-username">
                    <!--                    <div class="user-rank">#1</div>-->
                    <h1 class="user-username" th:text="${user.username}"></h1>
                </div>
                <p class="user-email" th:text="${user.email}"></p>
            </div>
            <div sec:authorize="isAuthenticated()">
                <button class="edit-btn" th:if="${#authentication.principal.id == user.id}">Edit profile</button>
            </div>
        </div>
    </div>

    <!-- START OF USER STATS -->
    <!--if as user is logged in, and they are on their profile they will see this-->
    <div class="container d-flex stats justify-center" sec:authorize="isAuthenticated()">
<!--        th:attr="data-authenticated=${#authentication.principal.id == user.id}"-->
        <div class="row" th:if="${#authentication.principal.id == user.id}">
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${wins}"></span>
                <p class="description" th:if="${wins == 1}">win</p>
                <p class="description" th:if="${wins == 0 || wins > 1}">wins</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${posts}"></span>
                <p class="description" th:if="${posts == 1}">post</p>
                <p class="description" th:if="${posts == 0 || posts > 1}">posts</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${likes}"></span>
                <p class="description" th:if="${likes == 1}">like</p>
                <p class="description" th:if="${likes == 0 || likes > 1}">likes</p>
            </div>
        </div>
    </div>
    <!--if a user is logged in, and they are on someone else's profile they will see this-->
    <div class="container d-flex stats-not-auth justify-center" sec:authorize="isAuthenticated()">
        <div class="row" th:if="${#authentication.principal.id != user.id}">
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${wins}"></span>
                <p class="description" th:if="${wins == 1}">win</p>
                <p class="description" th:if="${wins == 0 || wins > 1}">wins</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${posts}"></span>
                <p class="description" th:if="${posts == 1}">post</p>
                <p class="description" th:if="${posts == 0 || posts > 1}">posts</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${likes}"></span>
                <p class="description" th:if="${likes == 1}">like</p>
                <p class="description" th:if="${likes == 0 || likes > 1}">likes</p>
            </div>
        </div>
    </div>
    <!--a visitor will see this-->
    <div class="container d-flex stats-not-auth justify-center"
         th:if="${not #authorization.expression('isAuthenticated()')}">
        <div class="row">
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${wins}"></span>
                <p class="description" th:if="${wins == 1}">win</p>
                <p class="description" th:if="${wins == 0 || wins > 1}">wins</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${posts}"></span>
                <p class="description" th:if="${posts == 1}">post</p>
                <p class="description" th:if="${posts == 0 || posts > 1}">posts</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number" th:text="${likes}"></span>
                <p class="description" th:if="${likes == 1}">like</p>
                <p class="description" th:if="${likes == 0 || likes > 1}">likes</p>
            </div>
        </div>
    </div>
    <!-- END OF STATS -->

    <!-- START OF TABS -->
    <!--a visitor will see this-->
    <div class="container profile-tabs" th:if="${not #authorization.expression('isAuthenticated()')}">
        <div class="row d-flex justify-center">
            <ul class="d-flex justify-center tabs full-width">
                <li class="profile-tab">
                    <a class="profile-link post tab-clicked">Posts</a>
                </li>
            </ul>
        </div>
    </div>
    <!--if a user is logged in, and they are on someone else's profile they will see this-->
    <div class="container profile-tabs" sec:authorize="isAuthenticated()">
        <div class="row d-flex justify-center" th:if="${#authentication.principal.id != user.id}">
            <ul class="d-flex justify-center tabs full-width">
                <li class="profile-tab">
                    <a class="profile-link post tab-clicked">Posts</a>
                </li>
            </ul>
        </div>
    </div>
    <!--if a user is logged in, and they are on their profile they will see this-->
    <div class="container profile-tabs" sec:authorize="isAuthenticated()">
        <div class="row" th:if="${#authentication.principal.id == user.id}">
            <ul class="d-flex align-center full-width tabs justify-space-around">
                <li class="profile-tab">
                    <a class="profile-link post tab-clicked">Posts</a>
                </li>
                <li class="profile-tab">
                    <a class="profile-link tab-clicked" id="history">History</a>
                </li>
                <li class="profile-tab">
                    <a class="profile-link tab-clicked" id="likedPost">Liked Posts</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END OF TABS -->

    <!-- This is the modal for editing the password -->
    <div class=" hidden passwordModal modal">
        <div class="modal-bg">
        </div>
        <div class="modal-container">
            <div>
                <div>
                    <div class="bar left"></div>
                    <div class="bar right"></div>
                </div>
                <form class="password-change-card" th:action="@{|/${user.id}/profile/edit/password|}" th:method="POST">
                    <div class="column">
                        <label th:for="newPassword">New Password</label>
                        <input class="newPassword input-field" th:name="newPassword" th:type="password">
                    </div>
                    <div class="column">
                        <label th:for="confirmNewPassword">Confirm New Password</label>
                        <input class="confirmNewPassword input-field" th:name="confirmNewPassword" th:type="password">
                    </div>
                    <div class="column">
                        <button class=" hidden submit-password " type="submit">Submit</button>
                    </div>
                </form>
                <div class="hidden password-error">Passwords Do Not match</div>
            </div>
        </div>
    </div>
    <!-- This is the modal to edit the user's profile -->
    <div id="modal-overlay" class="overlay hidden">
        <section class="edit-user hidden">
            <form class="edit-form-container d-flex justify-center hidden" th:action="@{|/${user.id}/profile/edit|}"
                  th:method="POST">
                <p class="exit-edit-profile-btn">X</p>
                <h1 class="edit-form-title">Edit Your Profile</h1>
                <div class="row">
                    <div class="column profile-pic-and-btns">
                        <!-- this is the profile pic img -->
                        <img class="previewImage" id="previewImage" th:src="${user.getProfileURL()}"
                             alt="Uploaded Image">

                        <!-- this is the loading animation -->
                        <div class="hidden hide-loader">
                            <div class="loading-overlay">
                                <div class="loader"></div>
                                <p class="loading-message">Loading...</p>
                            </div>
                        </div>

                        <!-- this is the change profile pic button -->
                        <input th:name="ProfileURL" type="text" id="fileInput" th:value="${user.profileURL}" hidden>
                        <span id="profilePic" class="changeProfileImg">edit picture</span>
                    </div>
                    <div class="column edit-inputs">
                        <p class="edit-label">Edit Username</p>
                        <input class="input-field edit-username-field" th:name="username" th:type="text"
                               th:value="${user.username}"
                               th:field="${user.username}">

                        <p class="edit-label">Edit Email</p>
                        <input class="input-field edit-email-field" th:name="email" th:type="text"
                               th:value="${user.email}"
                               th:field="${user.email}">

                        <!-- this is the change password button -->
                        <span id="changePassword" class="changePassword ">change password</span>
                    </div>
                </div>
                <div class="submit-btn-container container">
                    <button class="submit-mods-btn" type="submit" th:type="submit">save changes</button>
                </div>
            </form>
        </section>
    </div>
    <!--    <script th:inline="javascript">-->
    <!--        let currentUser = [[${currentUser}]];-->
    <!--    </script>-->
<!--    <div th:if="${#authentication.isAuthenticated()}">-->
<!--        <div id="authUserId" th:data-auth-id="${#authentication.principal.id}"></div>-->
<!--    </div>-->
    <div>
        <div id="results" th:dataId="${user.id}">
            <div sec:authorize="isAuthenticated()">
                <div th:attr="data-authenticated=${#authentication.principal.id == user.id}">
                </div>
            </div>
        </div>
        <!-- THIS IS THE FORM TO ADD POSTS -->
        <form class="hidden" id="add-post-form" th:action="@{|/${user.id}/profile/posts|}" th:method="POST">
            <div class="add-form">
                <p class="form-title hidden">Description</p>
                <input id="meme-id" type="hidden" name="meme-id">
            </div>
        </form>
        <!-- THIS IS THE FORM TO EDIT POSTS -->
        <form class="hidden" id="edit-post-form" th:action="@{|/${user.id}/profile/posts/edit|}" th:method="POST">
            <!--            <div class="edit-form">-->
            <h3 class="edit-post-form-title hidden">Edit description</h3>
            <input id="post-id" type="hidden" name="post-id">
            <!--            </div>-->
        </form>
        <!-- THIS IS THE FORM TO DELETE POSTS -->
        <form class="hidden" id="delete-post-form" th:action="@{|/${user.id}/profile/posts/delete|}" th:method="POST">
            <div class="delete-form">
                <h3 class="delete-post-title hidden">Are you sure you want to delete?</h3>
                <input id="post-delete-id" type="hidden" name="post-delete-id">
            </div>
        </form>


    </div>

</div>
<footer th:replace="partials/partials :: footer"></footer>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{/js/keys.js}"></script>
<script th:src="@{/js/filestack.js}"></script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/posts.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Simulate a click on the "Post" tab
        const postTabs = document.getElementsByClassName("post");
        for (const postTab of postTabs) {
            postTab.click();
        }
    });
</script>
</body>
</html>