<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Profile')"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<div class="page-wrapper">
    <div class="container user-profile-info">
                <img th:src="${user.profileURL}" alt="profile pic">
<!--        <img class="profile-pic" src="/img/cat-profile-pic.jpeg" alt="profile pic">-->
        <div class="user-name-email">
            <div class="row d-flex align-center rank-username">
                <div class="user-rank">#1</div>
                <h1 class="user-username" th:text="${user.username}"></h1>
            </div>
            <p class="user-email" th:text="${user.email}"></p>
        </div>
        <form th:method="GET" th:action="@{|/${user.id}/profile/edit|}" sec:authorize="isAuthenticated()">
            <button class="edit-btn" th:if="${#authentication.principal.id == user.id}">Edit profile</button>
        </form>
    </div>
    <div class="container d-flex stats justify-center">
        <div class="row">
            <div class="column d-flex align-center justify-center">
                <span class="number">40</span>
                <p class="description">wins</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number">50</span>
                <p class="description">tournaments</p>
            </div>
            <div class="column d-flex align-center justify-center">
                <span class="number">1,897</span>
                <p class="description">likes</p>
            </div>
        </div>
    </div>

    <div class="container profile-tabs" th:if="${not #authorization.expression('isAuthenticated()')}">
        <div class="row d-flex justify-center">
            <ul class="d-flex justify-center tabs full-width">
                <li class="profile-tab">
                    <a class="profile-link">Posts</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container profile-tabs" sec:authorize="isAuthenticated()">
        <div class="row" th:if="${#authentication.principal.id == user.id}">
            <ul class="d-flex align-center full-width tabs justify-space-around">
                <li class="profile-tab">
                    <a class="profile-link" id="post" th:href="@{/profile/posts}">Posts</a>
                </li>
                <li class="profile-tab">
                    <a class="profile-link" id="history">History</a>
                </li>
                <li class="profile-tab">
                    <a class="profile-link" id="likedPost" th:href="@{/profile/likes}">Liked Posts</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <div id="results" th:dataId="${user.id}">

            </div>
        </div>
    </div>

</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:src="@{/js/profile.js}"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>