.page-wrapper {
    background: linear-gradient(to bottom, #0D0149, black);
    /*background: white;*/
    padding-bottom: 100px;
}

.dev-pic{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    align-self: center;
}
.align-self-center {
    display: flex;
    align-self: center;
}
.first-row {
    gap: 100px;
    max-width: max-content;
    margin-bottom: 10px;
}
.sec-row {
    display: flex;
    justify-content: space-around;
    margin:10px 0;
}
.dev-card {
    /*background-color: #502449;*/
    height: 400px;
    width: 350px;
    text-decoration-color: #ffe88d;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to top, #343CFF, #9F8BFF);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dev-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, .06);
}

.dev-name {
    color: #ffe88d;
}

.bottom-column {
    flex-direction: column;

}

.logo {
    transition: transform 0.3s ease;
    width: 64px;
    height: auto;
}
.logo:hover {
    transform: scale(1.3);
}

.canva-logo {
    width: 54px;
    margin-top: 5px;
    height: auto;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 2px;
}
.duck {
    margin-left: 2px;
}

@media screen and (max-width: 1100px) {
    .dev-card {
        width: 300px;
        height: 400px;
        background: none;
        box-shadow: none;
    }
    .first-row {
        flex-wrap: wrap;
        gap: 0;
        margin: 0;
    }
    .page-wrapper {
        background: linear-gradient(to top, #343CFF, #9F8BFF);
    }

}
@media screen and (max-width: 767px) {
    .first-row {
        flex-wrap: wrap;
        gap: 0;
        margin: 0;
    }

    .sec-row {
        flex-wrap: wrap;
        margin: 0;

    }
    .dev-card {
        background: none;
        box-shadow: none;
        border-radius: unset;
        border-bottom: solid 1px darkgray;
    }
    .page-wrapper {
        background: linear-gradient(to top, #343CFF, #9F8BFF);
    }
}
