/*===============     LANDING PAGE     ===============*/

.jdH1Caption {
    display: flex;
    align-content: end;
    color: #b4acef;
    text-align: center;
    margin-bottom: unset;
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #3d04a1 0%,
            #7c0eff 29%,
            #f713ff 67%,
            #7c0eff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3.5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite; /* Use cubic-bezier for easing */
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: -100% center; /* Start from the left */
    }
    100% {
        background-position: 100% center; /* End at the right */
    }
}

.jdH2Instructions {
    display: flex;
    color: #9F8BFF;
    margin-top: unset;
    margin-bottom: unset;
}

.hero-register {
    display: flex;
    align-content: end;
    text-align: center;
}

.hero-row {
    flex-direction: column;
}

/* Media Queries for Landing Page */
/*@media (max-width: 768px) {*/
/*    !* Adjust styles for smaller screens here *!*/
/*    .landing-page-leaderboard {*/
/*        flex: 100%; !* Full width on small screens *!*/
/*        padding: 10px; !* Reduce padding on small screens *!*/
/*    }*/
/*}*/

/*===============     END OF LANDING PAGE     ===============*/
/*********************************Landing Page Carousel***********************************/

.carousel-hero {
    flex: 2 0 0;
    /*justify-content: center;*/
    margin-right: 20px;
}

.carousel {
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 30px;
    width: 80%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 450px;
    width: 1300px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: rgba(255, 255, 255, 0.34);
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: rgba(170, 170, 170, 0.26);
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet {
    color: rgba(66, 139, 202, 0.88);
}

/********** END OF CAROUSEL *************/

.leaderboard-hero-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.landing-page-leaderboard {
    flex: 1 0 0;
    margin-left: 20px;
}

.memespace-instructions {
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.landing-info-row {
    gap: 7rem;
}

.landing-text {
    justify-content: center;
    background-color: var(--first);
    border-radius: 2rem;
    padding: 2rem;
    color: var(--third);
}

.meme-create-text, .meme-winner-text, .meme-feed-text {
    align-items: end;
}

.landing-text-end {
    text-align: end;
}

.websocket-pic {
    border-radius: 2rem;
}

.websocket-step {
    align-items: center;
    background-color: var(--first);
    border-radius: 4rem;
    color: var(--third);
    margin-top: 2rem;
    padding: 2rem;
}

.ws-step-num {
    background-color: var(--second);
    width: 2rem;
    border-radius: 50%;
    color: #fae895;
    text-align: center;
}

.websocket-describe {
    text-align: center;
}
