/*===============     LANDING PAGE     ===============*/

.jdH1Caption {
    display: flex;
    align-content: end;
    color: #b4acef;
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #3d04a1 0%,
            #7c0eff 29%,
            #f713ff 67%,
            #7c0eff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3.5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite; /* Use cubic-bezier for easing */
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: -100% center; /* Start from the left */
    }
    100% {
        background-position: 100% center; /* End at the right */
    }
}

.jdH2Instructions {
    display: flex;
    color: #9F8BFF;
}

.hero-row{
    flex-direction: column;
}
/* Media Queries for Landing Page */
/*@media (max-width: 768px) {*/
/*    !* Adjust styles for smaller screens here *!*/
/*    .landing-page-leaderboard {*/
/*        flex: 100%; !* Full width on small screens *!*/
/*        padding: 10px; !* Reduce padding on small screens *!*/
/*    }*/
/*}*/

/*===============     END OF LANDING PAGE     ===============*/
/*********************************Landing Page Carousel***********************************/

.carousel-hero {
    flex: 2 0 0;
    /*justify-content: center;*/
    margin-right: 30px;
}

.carousel {
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    width: 80%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 450px;
    width: 1300px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

/********** END OF CAROUSEL *************/

.leaderboard-hero-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.landing-page-leaderboard {
    flex: 1 0 0;
    margin-left: 20px;
}