:root {
    --first: #EEECFE;
    --second: #9F8BFF;
    --third: #0D0149;
    --button: #343CFF;
}

.form {
    flex-direction: column;
    align-items: center;
    background-color: var(--third);
    height: 40rem;
    width: 30rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

.field-name {
    color: var(--first);
    margin: 0.30rem;
}

.input {
    margin: 1rem;
    flex-direction: column;
}

.input-field {
    height: 2.5rem;
    width: 20rem;
    border-radius: 1rem;
    padding-left: 10px;
    background-color: var(--first);
}

.reg-button {
    margin: 1rem;
}

.reg-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: var(--first);
    background: #ad5389;
    background: var(--button);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    transition: 500ms;
    -webkit-transition: 500ms;
}

.reg-button svg {
    margin-right: 3px;
    transform: rotate(0deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.reg-button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.reg-button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.reg-button:hover span {
    transform: translateX(7px);
}

.reg-button:hover {
    background-color: white;
    color: var(--button);
}

.register-header {
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    color: var(--first);
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/*********************************Landing Page Carousel***********************************/

.carousel-hero {
    flex: 2 0 0;
    /*justify-content: center;*/
    margin-right: 30px;
}

.carousel {
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    width: 80%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 450px;
    width: 1300px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

/********** END OF CAROUSEL *************/

.landing-page-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.landing-page-leaderboard {
    flex: 1 0 0;
    margin-left: 20px;
}
/********** History of Meme Submissions View ***********/
.history-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-evenly;
    gap: 15px;
}

.history-card {
    display: flex;
    flex-direction: column;
    background-color: var(--first);
    height: 400px;
    width: 350px;
    border-radius: 15px;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
}

.history-head {
    background-color: #9F8BFF;
    height: 55px !important;
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.jdImgCSS {
    display: block;
    margin-top: 10px;
    border-radius: 15px;
}

.caption-div {
    display: flex;
    align-items: start;
    width: 250px;
    flex-direction: column;
    margin-right: 25px;
}

.add-post-btn {
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    margin-bottom: 15px;
}

.add-post-btn:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}
/******** End of History of Meme Submissions *****/
.profile-pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
}

.user-profile-info {
    display: flex;
    align-items: start;
    flex-direction: row;
    margin-left: 50px;
}

.user-name-email {
    margin-top: 100px;
    margin-left: 50px;
}

.user-username {
    margin-top: unset;
    margin-bottom: unset;
    font-size: 60px;
    margin-left: 20px;
}

.rank-username {
    padding: unset;
}

.user-rank {
    font-size: 30px;
    margin-top: 7px;
    background-color: #343CFF;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

.user-email {
    margin-top: unset;
    margin-bottom: unset;
    margin-left: 20px;
    font-size: 20px;
}

.edit-btn {
    background-color: #343CFF;
    color: white;
    border-radius: 16px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 130px;
    margin-left: 350px;
}

.edit-btn:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}

.stats {
    flex-direction: row;
    margin-right: 37px;
}

.stats-not-auth {
    flex-direction: row;
    margin-right: 2px;
}

.number {
    font-size: 30px;
    font-weight: bold;
}


/*================         HOME         ================*/
.jdHomePageWrapperCSS {
    display: flex; /* Use flexbox to create a horizontal layout */
    align-items: center;
}

.jdleaderboard {
    flex: 1; /* Takes up a flexible portion of available space */
    width: 30%; /* Takes up 30% of the screen width */
}

.jdtournament-list {
    flex: 2;
    width: 700px;
    align-items: center;
    background-color: var(--first);
    height: 41rem;
    border-radius: 2rem;
    margin: 2rem;
}

.tournament-title {
    background-color: var(--third);
    color: var(--first);
    height: 3rem;
    border-radius: 2rem 2rem 0 0;
    width: 875px;
}

.jdTournamentCSS {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    margin-bottom: 20px;
    background-color: #0D0149;
    color: white;
    border-radius: 15px;
    height: 100px;
}

.description {
    font-size: 20px;
}

.profile-tab {
    text-decoration: none;
    list-style-type: none;
}

.profile-link {
    text-decoration: none;
    list-style-type: none;
}

.tabs {
    border-bottom: 2px solid black;
    padding: unset;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.tab-clicked {
    font-size: 24px;
    font-weight: bold;
    color: #343CFF;
}

#history {
    cursor: pointer;
}

#history:hover {
    color: #343CFF;
}

.post {
    cursor: pointer;
}

.post:hover {
    color: #343CFF;
}

.jdTournamentEach {
    border-bottom: solid #428bca;
    align-content: center;
    padding: .1%;
}

.jdTournamentEach form {
    align-items: center;
}

.join-now {
    background-color: #343CFF;
    color: white;
    border: unset;
    height: 50px;
    font-size: 18px;
    width: 120px;
    font-family: inherit;
    border-radius: 16px;
    padding: .2%;
}

.jdTournamentCreateButton {
    margin-top: .5%;
    width: inherit;
    background-color: #0D0149;
    color: #b4acef;
}
.tournament-create-btn {
    width: 280px;
}

/*================         END OF HOME         ================*/

/********************************* Modals ***********************************/

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal .modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /*pointer-events: none;*/

}

.modal .modal-container {
    padding: 20px;
    position: relative;
    z-index: 999;
}

.hidden {
    display: none;
    pointer-events: none;
}


/*===============     SNAKE GAME     ===============*/
#snakeGame {
    background: #9F8BFF;
}

/*===============     END OF SNAKE GAME     ===============*/

/*===============     PROFILE     ===============*/
.password-error {
    color: red;
    align-self: start;
    margin-left: 45px;
    margin-top: 5px;
}

/*===============     END OF PROFILE     ===============*/

/************************************************ Edit Profile Page ***********************************************/

.edit-form-title {
    font-size: 2rem;
    color: var(--first);
    margin-left: 245px;
}

.edit-label {
    color: var(--first);
    margin: 0.30rem;
}

.changePassword {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 200px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 60px;
}

.changePassword:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
    cursor: pointer;
}

.previewImage {
    margin: 10px;
    height: 200px;
    width: 200px;
}

.password-change-card {
    background: #0D0149;
    color: white;
    min-height: 250px;
    height: 270px;
    width: 400px;
    border-radius: 20px;
}

.change-password-exit-container {
    padding-top: 10px;
    margin-bottom: 20px;
}

.change-password-exit {
    margin-left: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
}

.change-password-exit:hover {
    color: #343CFF;
    cursor: pointer;
}

.newPassword {
    margin-bottom: 20px;
    margin-left: 40px;
}

.confirmNewPassword {
    margin-left: 40px;
}

.change-pass-label {
    margin-left: 45px;
}

.submit-password {
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #343CFF;
    border: unset;
    color: white;
    border-radius: 16px;
}

.submit-password:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
    cursor: pointer;
}



.password-btn {
    display: flex;
    align-items: center;
    justify-content: center
}

.changeProfileImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 150px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.changeProfileImg:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
    cursor: pointer;
}

.submit-mods-btn {
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 200px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 60px;
}

.submit-mods-btn:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}
.bar {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}

.bar.left {
    transform: rotate(45deg);
    position: fixed;
    top: 35%;
    right: 35%;
}

.bar.right {
    transform: rotate(-45deg);
    position: fixed;
    top: 35%;
    right: 35%;
}
.back-to-profile {
    text-decoration: none;
}
.edit-user {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: var(--third);
    height: 33rem;
    width: 50rem;
    position: absolute;
    top: 10%;
    right: 22.2%;
    border-radius: 2rem;
}

.edit-form-container {
    align-items: center;
    flex-direction: column;
}

.profile-pic-and-btns {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.edit-inputs {
    align-items: start;
    justify-content: center;
}

.edit-username-field {
    margin-bottom: 30px;
}

.edit-email-field {
    margin-bottom: 45px;
}

.exit-edit-profile-btn {
    color: white;
    font-size: 30px;
    margin-left: 10px;
    padding-bottom: 20px;
}

.exit-edit-profile-btn:hover {
    color: #343CFF;
    cursor: pointer;
}

/***************** START OF MODAL FOR ADDING POSTS **********************/

.post-modal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 450px;
    height: 550px;
    min-height: 250px;
    position: absolute;
    top: 5%;
    right: 35%;
    background-color: #0D0149;
    border: 1px solid #07013d;
    border-radius: 15px;
}

.post-modal .flex {
    display: flex;
}

.btn-close {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 10px;
}

.btn-close:hover {
    cursor: pointer;
    color: #343CFF;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.post-modal {
    z-index: 2;
}

.close-btn-container {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 15px;

}

.add-img {
    width: 350px;
    height: 200px;
    border-radius: 15px;
}

.add-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-caption {
    margin-left: 55px;
    color: white;
    margin-top: 10px;
    margin-right: 40px;
}

.form-title {
    margin-right: 220px;
    color: white;
    margin-bottom: 5px;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-btn {
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 250px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.add-btn:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}

.add-caption-div {
    display: flex;
    flex-direction: column;
}

#add-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***************** END OF MODAL FOR ADDING POSTS **********************/

/***************** START OF LOADING ANIMATION **********************/

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #343CFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.loading-message {
    font-family: inherit;
    color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/***************** END OF LOADING ANIMATION **********************/

/***************** START OF MODAL FOR EDITING POSTS **********************/

.edit-modal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 450px;
    height: 325px;
    min-height: 250px;
    position: absolute;
    top: 15%;
    right: 35%;
    background-color: #0D0149;
    border: 1px solid #07013d;
    border-radius: 15px;
}

#edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post-form-title {
    color: white;
    font-size: 24px;
}

.edit-form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit-edit-post {
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    font-size: 18px;
    margin-right: 113px;
}

.submit-edit-post:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}

.cancel-edit-form {
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    font-size: 18px;
    position: absolute;
    top: 59.8%;
    right: 27%;
}

.cancel-edit-form:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}

/***************** END OF MODAL FOR EDITING POSTS **********************/

/***************** START OF MODAL FOR DELETING POSTS **********************/

.delete-modal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 450px;
    height: 300px;
    min-height: 250px;
    position: absolute;
    top: 15%;
    right: 35%;
    background-color: #0D0149;
    border: 1px solid #07013d;
    border-radius: 15px;
}

#delete-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-post-title {
    color: white;
    font-size: 24px;
    margin-bottom: 50px;
}

.submit-delete-post {
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    margin-right: 115px;
}

.submit-delete-post:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}

.cancel-btn {
    background-color: #343CFF;
    color: white;
    border: unset;
    border-radius: 16px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    position: absolute;
    top: 52.5%;
    right: 27%;
}

.cancel-btn:hover {
    background-color: white;
    border: 2px solid #343CFF;
    color: #343CFF;
}

/***************** END OF MODAL FOR DELETING POSTS **********************/

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-evenly;
    gap: 15px;
}

.post-card {
    display: flex;
    flex-direction: column;
    background-color: #EEECFE;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
}

.post-head {
    background-color: #9F8BFF;
    height: 55px !important;
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center
}

.post-likes-container {
    font-size: 20px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.rocket-img {
    height: 30px;
    width: 30px;
}

.post-likes {
    margin-right: 5px;
    margin-left: 10px;
}

.post-img {
    display: block;
    margin-top: 10px;
    border-radius: 15px;

}

.post-caption-div {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 25px;
}

.post-description {
    margin-top: unset;
}

.post-caption {
    margin-bottom: 5px;
}
/*===============     START OF CALL TO ACTION CSS     ===============*/

.call-to-action-container {
    display: flex;
    justify-content: center;
}

.post-call-to-action {
    margin-left: 50px;
}

.history-call-to-action {
    margin-right: 100px;
}

/*===============     END OF CALL TO ACTION CSS     ===============*/

/*===============     LANDING PAGE     ===============*/

.jdH1Caption {
    display: flex;
    align-content: end;
    color: #b4acef;
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate; /* Use cubic-bezier for easing */
    display: inline-block;
}

@keyframes textclip {
    0% {
        background-position: 0% center; /* Start from the left */
    }
    100% {
        background-position: 100% center; /* End at the right */
    }
}

.jdH3Instructions {
    display: flex;
    color: #9F8BFF;
}

/*===============     END OF LANDING PAGE     ===============*/

/*===============     FEED     ===============*/
.jdMemesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.jdMemeContainer {
    border: solid black;
    background-color: #9F8BFF;
    margin: 5px;
}

.jdMemeImage {
    border-bottom: solid black;
}

.jdMemeCaption {
    text-align: center;
}

.jdFeedJustifyCenter {
    display: flex;
    justify-content: center;
}

.jdFeedCenterButtons {
    display: flex;
    justify-content: center;
}

/*===============     END OF FEED     ===============*/

/*===============     WAITING ROOM     ===============*/

.jdWaitTitleContainer {
    display: flex;
    flex-wrap: wrap;
    color: #9F8BFF;
    border-bottom: #428bca;
    justify-content: center;
}

.jdWaitTitleRow {
    justify-content: center;
}

.jdWaitTitleCol {
    display: flex;
    justify-content: center;
}

.jdWaitContainer {
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    justify-content: center;
    align-items: center;

}

.jdWaitRow {
    display: flex;
    flex-wrap: wrap;
}

.jdWaitColUl {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
}

.jdWaitColCanvas {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
}

#snakeGame {
    max-width: 100%; /* Ensure the canvas doesn't exceed its container */
    height: auto;
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .jdWaitColUl, .jdWaitColCanvas {
        flex: 100%; /* Full width on small screens */
        padding: 10px; /* Reduce padding on small screens */
    }
}

@media (min-width: 1201px) {
    .jdWaitContainer {
        height: 120vh; /* Adjust the height as needed */
    }
}

/*===============     END OF WAITING ROOM     ===============*/


/*===============     CREATE MEME     ===============*/

.memeAPIImage{
    max-width: 90%;
    max-height: 90%;
    min-width: 90%;
    min-height: 90%;
}


.jdCreateInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jdCreateInputRow {

}

.jdCreateInputCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#memeCaption {
    width: 70vw;
    padding: 1.5%;
    margin-bottom: 10px;
}

#submitMemeCaptionBtn {
    background-color: #9F8BFF;
    color: white;
    padding: 10px 20px; /* Adjust padding to your preference */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*===============     END OF CREATE MEME     ===============*/