:root{
--first: #b4acef;
    --second: #9F8BFF;
    --third:#0D0149 ;
    --button: #343CFF;
}
.nav-link {
    text-decoration: none;
    list-style-type: none;
    color:var(--first);
}
.nav-item{
    text-decoration: none;
    list-style-type: none;
}

.navbar, .footer{
    background-color: var(--third);
    height: 8rem;
}
.team-name{
    text-decoration: none;
    font-weight: bold;
    color: var(--first);
    margin-top: 3rem;
}
.footer-link{
    text-decoration: none;
    list-style-type: none;
    color: var(--second);
}
.footer-link {
    margin-top: 3rem;
}
.footer-link:hover{
    color: var(--first);
}
.nav-link:hover{
    color: var(--second);
}

.links-list{
    font-size: 18px;
    padding: unset;
    margin: unset;
}

.profile-pic-link {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 50px;
}

#feed {
    position: absolute;
    left: 70px;
    top: 50px;
}

#login {
    position: absolute;
    right: 50px;
    top: 50px;
}

#register {
    position: absolute;
    right: 150px;
    top: 50px;
}

#logo {
    position: absolute;
    right: 657px;
    top: 5px;
}

#profile {
    position: absolute;
    /*left: 150px;*/
    left: 70px;
    top: 50px;
}

#home {
    position: absolute;
    /*left: 225px;*/
    left: 175px;
    top: 50px;
}

#logout {
    position: absolute;
    right: 30px;
    top: 20px;
}

#feedAuth {
    position: absolute;
    right: 225px;
    top: 50px;
}

#logoAuth {
    position: absolute;
    left: 667px;
    top: 5px;
}

.user-pic {
    height: 50px;
    width: 50px;
    border-radius: 2rem;
}
.leaderboard{
    background-color: var(--first);
    height: 41rem;
    width: 20rem;
    border-radius: 2rem;
    margin: 2rem;
}
.leader-title{
    background-color: var(--third);
    color: var(--first);
    height: 3rem;
    width: 20rem;
    border-radius: 2rem 2rem 0 0;
    justify-content: center;
    align-items: center;
}
.player{
    margin-bottom: 0.5rem;
}
.leader-info {
    margin-left: 1rem;
}
.wins{
    margin-top: 0.4rem;
}
.rank{
    font-size: 1rem;
    margin-right: 0.4rem;
}
.not-10{
    margin-left: 0.58rem;
}
.first{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--second);
}

