:root{
--first: #b4acef;
    --second: #9F8BFF;
    --third:#0D0149 ;
    --button: #343CFF;
}
.nav-link {
    text-decoration: none;
    list-style-type: none;
    color:var(--first);
}
.nav-item{
    text-decoration: none;
    list-style-type: none;
}
/*li{*/
/*    margin-right: 10rem;*/
/*}*/
.navbar, .footer{
    background-color: var(--third);
    height: 8rem;
}
.team-name{
    text-decoration: none;
    font-weight: bold;
    color: var(--first);
    margin-top: 3rem;
}
.footer-link{
    text-decoration: none;
    list-style-type: none;
    color: var(--second);
}
.footer-link {
    margin-top: 3rem;
}
.footer-link:hover{
    color: var(--first);
}
.nav-link:hover{
    color: var(--second);
}

.links-list{
    /*justify-content: center;*/
    font-size: 18px;
    padding: unset;
    margin-top: 6px;
}

#feed {
    position: relative;
    left: 80px;
}

#login {
    position: relative;
    right: 50px;
}

#logout {
    margin-left: auto;
}

#register {
    position: relative;
    left: 300px;
}

#logo {
    position: relative;
    left: 240px;
}

#profile {
    position: relative;
    left: 60px;
}

#home {
    position: relative;
    right: 150px;
}

#logout {
    position: relative;
    right: 50px;

}

#feedAuth {
    position: relative;
    left: 160px;
}

#logoAuth {
    position: relative;
    left: 40px;
}
