<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/partials :: head(title='Landing-Page')">

    </div>
</head>
<body>
<div class="page-wrapper">

    <nav th:replace="partials/partials :: nav"></nav>

    <div class="leaderboard-hero-container container align-center">

        <!--        Leaderboard partial -->
        <div class="landing-page-leaderboard">
            <aside th:replace="partials/partials :: leaderboard"></aside>
        </div>
        <!-- End of Leaderboard partial -->

        <!--        Start of carousel hero -->
        <div class="carousel-hero column align-center">
            <div class="carousel">
                <div class="carousel-inner">
                    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true"
                           hidden="" checked="checked">
                    <div class="carousel-item">
                        <img src="/img/carousel-first.png">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true"
                           hidden="">
                    <div class="carousel-item">
                        <img src="/img/carousel-second.png">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true"
                           hidden="">
                    <div class="carousel-item">
                        <img src="/img/carousel-third.png">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true"
                           hidden="">
                    <div class="carousel-item">
                        <img src="/img/carousel-fourth.png">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true"
                           hidden="">
                    <div class="carousel-item">
                        <img src="/img/carousel-fifth.png">
                    </div>
                    <input class="carousel-open" type="radio" id="carousel-6" name="carousel" aria-hidden="true"
                           hidden="">
                    <div class="carousel-item">
                        <img src="/img/carousel-sixth.png">
                    </div>
                    <label for="carousel-6" class="carousel-control prev control-1">‹</label>
                    <label for="carousel-2" class="carousel-control next control-1">›</label>
                    <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                    <label for="carousel-3" class="carousel-control next control-2">›</label>
                    <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                    <label for="carousel-4" class="carousel-control next control-3">›</label>
                    <label for="carousel-3" class="carousel-control prev control-4">‹</label>
                    <label for="carousel-5" class="carousel-control next control-4">›</label>
                    <label for="carousel-4" class="carousel-control prev control-5">‹</label>
                    <label for="carousel-6" class="carousel-control next control-5">›</label>
                    <label for="carousel-5" class="carousel-control prev control-6">‹</label>
                    <label for="carousel-1" class="carousel-control next control-6">›</label>
                    <ol class="carousel-indicators">
                        <li>
                            <label for="carousel-1" class="carousel-bullet">•</label>
                        </li>
                        <li>
                            <label for="carousel-2" class="carousel-bullet">•</label>
                        </li>
                        <li>
                            <label for="carousel-3" class="carousel-bullet">•</label>
                        </li>
                        <li>
                            <label for="carousel-4" class="carousel-bullet">•</label>
                        </li>
                        <li>
                            <label for="carousel-5" class="carousel-bullet">•</label>
                        </li>
                        <li>
                            <label for="carousel-6" class="carousel-bullet">•</label>
                        </li>
                    </ol>
                </div>
            </div>
            <!--            End of Carousel Div -->

            <!--            Start of Hero Caption -->
            <div class="hero-caption-container container">
                <div class="hero-row row">
                    <div class="hero-column column align-bottom">
                        <h1 class="jdH1Caption animate-character">
                            A player vs. player game where the funniest meme caption reigns supreme!
                        </h1>
                    </div>
                    <div class="hero-register column align-bottom">
                        <h2 class="jdH2Instructions">
                            Register for an account to enter tournaments and become the #1 silliest goose!
                        </h2>
                        <button class="reg-button" type="submit" onclick="window.location.href='/register'">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor"
                                      d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z">
                                </path>
                            </svg>
                            <span>register now</span>
                        </button>
                    </div>
                </div>
                <!--                End of Hero Row-->
            </div>
            <!--            End of Hero Caption -->
        </div>
        <!--        End of Carousel Hero -->
    </div>
    <!--    End of Landing Page Container-->

    <div class="memespace-instructions container grow">
        <!--            Start of host tournament info container-->

        <div class="tournament-info-container container grow">
            <div class="landing-info-row tournament-info-row row">
                <div class="tournament-info-image column">
                    <img src="/img/host-tournament.gif" height="300" width="600">
                </div>
                <div class="landing-text tournament-info-text column">
                    <h3>
                        Host a tournament or join an existing one!
                    </h3>
                    <p>
                        Host your own tournament with 4, 8, or 16 players, or join an already created tournament
                        and go head to head with other players in a tourney-style competition.
                    </p>
                </div>
            </div>
        </div>
        <!--            End of host tournament info container-->

        <!--            Start of creating memes container -->
        <div class="meme-create-container container">
            <div class="landing-info-row meme-create-row row">
                <div class="landing-text meme-create-text column">
                    <h3>
                        Create your own meme caption!
                    </h3>
                    <p class="landing-text-end">
                        You will be matched against another user in the tournament (PvP).
                        Everyone will receive a randomly-generated meme to create a caption for.
                        When all players have submitted their caption, voting will start.
                    </p>
                </div>
                <div class="meme-create-image column">
                    <img src="/img/create-meme.gif" height="300" width="600">
                </div>
            </div>
        </div>
        <!--     End of creating memes container       -->

        <!--    Start of voting for meme container    -->
        <div class="meme-vote-container container">
            <div class="landing-info-row meme-vote-row row">
                <div class="meme-vote-image column">
                    <img src="/img/vote-memes.gif" height="300" width="600">
                </div>
                <div class="landing-text meme-vote-text column">
                    <h3>
                        Vote on other players' meme captions!
                    </h3>
                    <p>
                        Everyone will be prompted to vote on other meme caption showdowns.
                        The person with the most votes between the two moves onto the next round of player matches until
                        there's only one player. If you lost a previous match, stay in the tournament to see more
                        funny memes and vote for the winner!
                        THERE CAN ONLY BE ONE!
                    </p>
                </div>
            </div>
        </div>
        <!-- End of voting for meme container-->
        <!-- Start of meme tournament winning container-->
        <div class="meme-winner-container container">
            <div class="landing-info-row meme-winner-row row">
                <div class="landing-text meme-winner-text column">
                    <h3>
                        Winner Winner Chicken Dinner!
                    </h3>
                    <p class="landing-text-end">
                        The number of wins you've collected will be displayed in your profile dashboard and may place
                        you on the leaderboard.
                    </p>
                </div>
                <div class="meme-winner-image column">
                    <img src="/img/profile-wins.gif" height="300" width="600">
                </div>
            </div>
        </div>
        <!--        End of meme tournament winning container -->

        <!--    Start of meme submission history and posts container -->
        <div class="meme-history-container container">
            <div class="landing-info-row meme-history-row row">
                <div class="meme-history-image column">
                    <img src="/img/meme-history.gif" height="300" width="600">

                </div>
                <div class="landing-text meme-history-text column">
                    <h3>
                        Look at your previous submissions and post your favorites!
                    </h3>
                    <p>
                        In your profile, you will also find your history of memes you've submitted in every tournament
                        you've been in.
                        You can post the meme submissions you're proud of to the public feed for others to see and like.
                    </p>
                </div>
            </div>
        </div>
        <!--      End of meme submission history and posts-->
        <!--        Start of feed and liked posts container -->
        <div class="meme-feed-container container">
            <div class="landing-info-row meme-feed-row row">
                <div class="landing-text meme-feed-text column">
                    <h3>
                        View the competition and give them kudos!
                    </h3>
                    <p class="landing-text-end">
                        Look through the public feed to view other meme submissions of proud players, and like their
                        posts.
                        There is an archive of all the posts you've liked, in case you need more inspiration for the
                        next tournament you enter.
                    </p>
                </div>
                <div class="meme-feed-image column">
                    <img src="/img/like-unlike.gif" height="300" width="600">
                </div>
            </div>
        </div>
        <!--        End of meme-->
    </div>
    <!--        End of memespace-instructions container -->

    <!--    Start of multiplayer website functionality -->
    <div class="multiplayer-container container">
        <h1 class="animate-character">
            How this website works: Websocket, SockJS, STOMPJS
        </h1>
        <div class="websocket-diagram row">
            <img class="websocket-pic" src="/img/websocket-diagram.png">
        </div>
        <div class="websocket-info-row row">
            <ol class="websocket-info">
                <li class="websocket-step column">
                    <h2 class="ws-step-num">1</h2>
                    <h3 class="websocket-title">
                        A user logs into their account and joins a tournament as a player.
                    </h3>
                    <p class="websocket-describe">
                        When a user hosts a tournament, they are redirected to a tournament lobby page and will automatically be
                        subscribed to a websocket stream as the host of the tournament.
                        The host has the ability to set the amount of players that they want in the tournament,
                        when the tournament starts, and when it ends.
                        This websocket stream creates a new tournament object and connection that other players can join
                        and subscribe to when they click the "join now" button on the home page.
                    </p>
                </li>
                <li class="websocket-step column">
                    <h2 class="ws-step-num">2</h2>
                    <h3 class="websocket-title">
                        Websocket starts tournament and keeps connection between players.
                    </h3>
                    <p class="websocket-describe">
                        Once the allotted number of players have joined the tournament lobby, the host can then push the
                        "start tournament" button, which sends a message to the websocket server to use its connection to direct all
                        players to the start of the tournament and create a meme.
                        Once all the players have submitted a caption to their meme, the stream will redirect
                        all the players to the voting page to view other player memes to vote for their favorite.
                        Websocket will then separate players based on the number of votes received, with the winners
                        and losers being placed in their subsequent arrays.
                    </p>
                </li>
                <li class="websocket-step column">
                    <h2 class="ws-step-num">3</h2>
                    <h3 class="websocket-title">
                        Websocket determines final winner!
                    </h3>
                    <p class="websocket-describe">
                        The persistent websocket connection will then launch the winners into another round of meme submissions
                        and the losers will be sent to a waiting room until the other players have submitted their meme caption,
                        where everyone will be voting for a winner.
                        This cycle will continue until only one player is left!
                        When the last round of voting has completed, the websocket connection will send a message to the
                        backend server to save the tournament object which holds the id of the user who has won.
                    </p>
                </li>
                <li class="websocket-step column">
                    <h2 class="ws-step-num">4</h2>
                    <h3 class="websocket-title">
                        Websocket connection ends and tournament information is saved onto server database.
                    </h3>
                    <p class="websocket-describe">
                        When the users have left the tournament, the websocket stream will end, and the meme submissions
                        each user has created will be saved to the database.
                        When the users who have participated in the tournament go into their profile view, they will find in
                        their History tab all of their submitted memes, which they can decide to publish for all to see in the
                        Feed view available to both visitors and users of the website.
                        The winner will find another point added to their wins tally.
                    </p>
                </li>
                <li class="websocket-step column">
                    <h2 class="ws-step-num">5</h2>
                    <h3 class="websocket-title">
                        The users can continue joining more tournaments, create more memes, and collect more wins!
                    </h3>
                    <p class="websocket-describe">
                        A websocket connection can be established at any time when the user decides to create a tournament.
                        And then the cycle can continue from Step 1!
                        Happy meme-making!(:
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <!-- End of multiplayer website functionality -->

    <footer th:replace="partials/partials :: footer"></footer>

</div>
<!-- End of Page Wrapper -->
</body>
</html>
